<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label>ZipCode:</label>
      <input type="text" [formControl]="zipcode" />
    </div>
    <button type="submit">Submit</button>
  </form>
  <div class="weather-container" *ngIf="show">
    <h2>Weather for: {{ forecast.getLocation() }}</h2>
    <div class="weather-data" *ngFor="let dataPoint of forecast.getDataPoints()">
        <label>{{ dataPoint.date }}</label>
        <label>{{ dataPoint.time }}</label>
        <label>{{ dataPoint.temp }}</label>
    </div>
  </div>
</div>
