<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label>ZIP Code:</label>
      <input type="text" [formControl]="zipcode" />
    </div>
    <button type="submit">Submit</button>
  </form>
  <div class="weather-container" *ngIf="show">
    <h2>Weather for: {{ forecast.getLocation() }}</h2>
    <table>
      <thead>
      <tr>
        <td>Date</td>
        <td>Time</td>
        <td>Conditions</td>
        <td>Temp.</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dataPoint of forecast.getDataPoints()">
        <td>{{ dataPoint.date }}</td>
        <td>{{ dataPoint.time }}</td>
        <td>
          <div class="wx-desc">
            <img [src]="'http://openweathermap.org/img/w/' + dataPoint.icon" />
            <label>{{ dataPoint.description }}</label>
          </div>
        </td>
        <td>{{ dataPoint.temp }}&#8457;</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
