<div id="div-with-bg">
  <h1>Nomadic Weekender</h1>
  <p>"take only memories - leave only footprints"</p>
  <div id="main">
    <div class="col">
      <a routerLink="/map">
        <img src="../../assets/map.png"/>
        <h4>Interactive Map</h4>
      </a>
      <p>Set your sights here!</p>
    </div>
    <div class="col">
      <a routerLink="/weather">
        <img src="../../assets/weather.png" />
        <h4>Weather Forecast</h4>
      </a>
      <p>Rain or shine, know before you go!</p>
    </div>
  </div>
</div>
