<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div>
      <label>Address:</label>
      <textarea [formControl]="address" required></textarea>
    </div>
    <fieldset>
      <legend>Max drive time:</legend>
      <div>
        <label>Hours:</label>
        <input type="number" [formControl]="hours" required/>
      </div>
      <div>
        <label>Minutes: </label>
        <input type="number" [formControl]="mins" required/>
      </div>
    </fieldset>
    <button type="submit">Submit</button>
  </form>
  <div #gmap style="width: 100%;height: 850px"></div>
</div>
